<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for [ @guest ] do |f| %>
      <div class="form-row">
        <div class="col">
      <%= f.input :name %>
      <%= f.input :last_name %>
      </div>
      </div>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
