// Define variables for your color scheme

$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000;

// ----------------------------------------
// Bootstrap Colors
$primary: #327C68;
$secondary: #6E0D25;
$lotr-green: rgba(196, 227, 202, 0.5);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "lotr-green": $lotr-green
);

// Custom colors
$muted: #adb5bd; // Text muted (used in cards for p elements)
$hover: lighten($primary, 5%); // Link/buttons hover color
$d-card-hover-color: #32325d;
$guest-grayscale: rgba(237, 237, 237, 1);
$navbar-bg: #FFF;

@mixin active-focus-link-color {
  color: $link-active-focus-color;
}

// ----------------------------------------
// Card Shadows
$shadow-hover-black: rgba(52, 52, 96, .3);
$shadow-active-black: rgba(52, 52, 96, 0.25);
$shadow-custom-black: rgba(50,50,93, .25);

$d-text-shadow: 0 0 15px rgba($black, 0.2);

@function card-shadow-color($shadow-color1: $shadow-hover-black, $shadow-color2: $shadow-active-black, $shadow-color3: $shadow-custom-black) {
  $d-card-shadow: 0 13px 27px -5px $shadow-color3,0 8px 16px -8px $shadow-color1,0 -6px 16px -6px $shadow-color1;
  $d-card-hover-shadow: 0 30px 60px -12px $shadow-color3,0 18px 36px -18px $shadow-color1,0 -12px 36px -8px $shadow-color1;
  $d-card-active-shadow: 0px 13px 27px -5px $shadow-color2, 0px 8px 16px -8px $shadow-color1, 0px -6px 16px -6px $shadow-color1;
  $d-card-focus-shadow: 0px 13px 27px -5px $shadow-color3, 0px 8px 16px -8px $shadow-color1, 0px -6px 16px -6px $shadow-color1;
  @return ($d-card-shadow, $d-card-hover-shadow, $d-card-active-shadow, $d-card-focus-shadow)
}
