// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000;


// ----------------------------------------
// Bootstrap Colors
$lotr-green: rgba(196, 227, 202, 0.5);
$primary: #327C68;
$secondary: #6E0D25;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "lotr-green": $lotr-green
);


$muted: #adb5bd;
$hover: lighten($primary, 5%);
$d-card-hover-color: #32325d;
$guest-grayscale: rgba(237, 237, 237, 1);
$navbar-bg: #FFF;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;


// ----------------------------------------
// Card Shadows
$d-text-shadow: 0 0 15px rgba(0,0,0,0.2);
$d-card-shadow: 0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025);
// $d-card-shadow: 0px 0px 40px -8px rgba($primary, 1);
// $d-card-shadow: 0 13px 27px -5px rgba($secondary, .25),0 8px 16px -8px rgba($secondary, .3),0 -6px 16px -6px rgba($secondary, .025);

$d-card-hover-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
$d-card-active-shadow: 0px 13px 27px -5px rgba(52, 52, 96, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3), 0px -6px 16px -6px rgba(0, 0, 0, 0.024);
$d-card-focus-shadow: 0px 13px 27px -5px rgba(50, 50, 93, 0.25), 0px 8px 16px -8px rgba(0, 0, 0, 0.3), 0px -6px 16px -6px rgba(0, 0, 0, 0.024);
