// Spacing
$d-spacer-section: $spacer * 4.25;

// Fixes scrolling for link through Anchor link
@mixin fix-anchor-link {
  display: block;
  content: " ";
  // position: relative;
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

// List of CSS options for background images
@mixin cover-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//Sticky navbar
$d-navbar-spacer: 2.875rem; //used in .navbar and .banner (old value with button: 4.125rem)

// Sticky bottom footer CSS
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.davide-ama-gaia {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
}

.d-footer {
  flex-shrink: 0;
}

// Customize bootstrap button hover and active colors
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value,
    $hover-background: lighten($value, 5%),
    $hover-border: lighten($value, 7.5%)
    // $active-background: darken($value, 7.5%),
    // $active-border: darken($value, 10%)
    );
    &:focus {
      background-color: $value;
      border-color: $value;
      box-shadow: none;
    }
  }
  .btn-outline-#{$color} {
    @include button-outline-variant($value,
    $active-background: darken($value, 7.5%),
    $active-border: darken($value, 10%)
    );
    &:hover {
      background-color: lighten($value, 5%);
      border-color: lighten($value, 7.5%);
    }
    &:focus {
      box-shadow: none;
    }
  }
}

// Custom style for active links
a:active, a:focus {
  @include active-focus-link-color;
}

@mixin d-basic-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: $spacer  $spacer;
}
