// Spacing
$d-spacer-section: $spacer * 4.25;

@mixin fix-anchor-link {
  display: block;
  content: " ";
  // position: relative;
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

@mixin cover-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//Sticky navbar
$d-navbar-spacer: 4.125rem; //used in .navbar and .banner

// Sticky bottom footer CSS
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.davide-ama-gaia {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
}

.d-footer {
  flex-shrink: 0;
}
