// Spacing
$d-spacer-section: $spacer * 4.25;

@mixin fix-anchor-link {
  display: block;
  content: " ";
  // position: relative;
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

@mixin cover-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
