.guests {
  margin-top: $spacer;
  .guests-title {
    margin-bottom: $spacer;
  }
  .guest-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: $spacer $spacer;
    .guest-card {
      text-align: center;
      .card-body {
        padding: 0 $spacer $spacer $spacer;
        background-color: $lotr-green;
        h5 {
          margin: 0;
        }
      }
    }
    .card-guest-buttons {
      padding-left: $spacer / 2;
      padding-right: $spacer / 2;
      background-color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 $spacer / 2;
      justify-content: space-evenly;
      .btn-guest {
        place-self: center stretch;
      }
    }
  }
}

.guest-grayscale-img {
  filter: grayscale(1);
}

.guest-grayscale-bck {
  background-color: $guest-grayscale !important;
}


@include media-breakpoint-down(md) {
  .guests {
    .guest-deck {
      .card-guest-buttons {
        padding: $spacer / 2;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .guests {
    .guests-title {
      margin-bottom: $d-spacer-section;
    }
    .guest-deck {
      grid-template-columns: 1fr 1fr 1fr;
      .card-guest-buttons {
        padding-left: $spacer;
        padding-right: $spacer;
        gap: 0 $spacer;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .guests {
    margin-top: $d-spacer-section;
    .guest-deck {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
