.guests {
  margin-top: $spacer;
  .guests-title {
    margin-bottom: $spacer;
  }
  .guest-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: $spacer $spacer;
    .btn-guest {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
    .guest-card {
      text-align: center;
      .card-body {
        padding: $spacer;
        padding-top: 0;
        background-color: rgba(196, 227, 202, 0.5);
        h5 {
          margin: 0;
        }
      }
    }
    .card-footer {
      padding: $spacer / 2 0;
      background-color: white;
      display: flex;
      justify-content: space-around;
    }
  }
}

@include media-breakpoint-up(sm) {
  .guests {
    .guest-deck {
      .btn-guest {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .guests {
    .guests-title {
      margin-bottom: $d-spacer-section;
      .guest-deck {
        grid-template-columns: 1fr 1fr 1fr;
        .btn-guest {
          padding-left: 2.1rem;
          padding-right: 2.1rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .guests {
    margin-top: $d-spacer-section;
    .guest-deck {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .btn-guest {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .guests {
    .guest-deck {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .btn-guest {
        padding-left: 2.6rem;
        padding-right: 2.6rem;
      }
    }
  }
}
