// General
.info-spacer {
  padding-top: $d-spacer-section;
  padding-bottom: $d-spacer-section;
}

// Wedding info
.wedding-date {
  padding-top: $d-spacer-section;
  margin-bottom: $spacer * 2;
}

.wedding-data {
  &:first-child {
    margin-bottom: $spacer;
  }
  i {
    margin-bottom: $spacer;
    color: $primary;
  }
  br {
    display: block;
  }
}

@include media-breakpoint-up(md) {

  .wedding-date {
    padding-bottom: $spacer * 3;
  }
  .wedding-data {
    br {
      display: none;
    }
    :first-child {
      margin-bottom: 0;
    }
  }
}

// Break breakimage
.breakimage {
  background-image: url('https://images.unsplash.com/photo-1578266352185-77ca67e96508?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
  height: 50vh;
}

.spacer-image {
  @include cover-image
  background-attachment: scroll;
}

@include media-breakpoint-up(xl) {
  .spacer-image {
    background-attachment: fixed;
  }
}

// Logistics section
.logistics-hero {
  margin-bottom: $spacer * 2;
}

// Wine-tour info
.wine-tour-info {
  height: 50vh;
  background-image: asset-url("wine-tour.jpg");
}

// Tourist info section
.tourist-hero {
  margin-bottom: $spacer * 2;
}
