// Anchors Fixed Navbar scroll fix
#trip::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

// Hotel Info
.hotel-picture {
  background-image: url('https://q-xx.bstatic.com/xdata/images/hotel/840x460/52212918.jpg?k=a22d32fe721d4e20bdeafb7dce6b859364b94c7c4438c9b48724559c6343211d&o=');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 30vh;
}

.hotel-info {
  margin-bottom: $d-spacer-section;
  .hotel-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: $spacer * 1.5;
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
    .feature-deck {
      display: grid;
      grid-template-columns: repeat(auto-fit, 10rem);
      grid-template-rows: auto;
      grid-gap: $spacer $spacer;
      max-width: 32rem;
      .card-body {
        padding: $spacer / 2;
        p {
          margin: 0;
        }
      }
    }
    .btn {
      align-self: center;
    }
  }
}

@include media-breakpoint-down(xs) {
  .hotel-info {
    .hotel-data {
      .feature-deck {
        justify-content: center;
      }
      br {
        display: none;
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  .hotel-info {
    .hotel-data {
      .feature-deck {
        grid-gap: $spacer / 2 $spacer / 2;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .hotel-info {
    .hotel-picture {
    height: inherit;
    }
    .hotel-data {
      .feature-deck {
        grid-template-columns: repeat(auto-fit, 9rem);
      }
      br {
        display: none;
      }
    }
  }
}

// Trip Info

.trip-info {
  margin-bottom: $d-spacer-section;
  .trip-hero {
    margin-bottom: $spacer * 2;
  }
  .trip-nav {
    display: flex;
    justify-content: center;
    .trip-item {
      background-color: inherit;
      border-radius: 0;
      padding-bottom: $spacer * 0.25;
      color: $muted;
      &:hover:not(.active), &:active{
        color: $hover;
      }
    }
    .active {
      color: $primary;
      background-color: inherit;
      border-bottom: $primary solid 4px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .trip-info {
    .trip-hero {
      br {
        display: none;
      }
    }

  }
}

@include media-breakpoint-up(sm) {
  .trip-info {
    .trip-nav {
      .trip-item:first-child { //Custom nav content
        p::after {
          content: ' Caselle';
        }
      }
      .trip-item:nth-child(2) {//Custom nav content
        p::before {
          content: 'Milan ';
        }
      }
      .trip-item:last-child {//Custom nav content
        p::after {
          content: ', Rent, Share';
        }
      }
    }
  }
}

// Trip Timeline
.timeline-container {
  display: flex;
  justify-content: center;
  margin: $spacer 0;
  .timeline {
    ul {
      padding: $spacer 0 0 $spacer * 2;
      margin: 0;
      list-style: none;
      position: relative;
      &::before {
        content: ' ';
        height: 100%;
        width: 1px;
        background-color: $primary;
        position: absolute;
        top: 0;
        left: 2.5em;
        z-index: -1;
      }
    }
    li div{
      display: inline-block;
      margin: $spacer 0;
      vertical-align: top;
    }
    .bullet {
      width: 1rem;
      height: 1rem;
      box-sizing: border-box;
      border-radius: 50%;
      background: $white;
      z-index: 1;
      margin-right: 1em;
      border: 2px solid $primary;
    }
    .timeline-desc {
      padding: $spacer;
      margin-top: -3px;
      margin-bottom: $spacer * 2;
      border-radius: $border-radius;
      border: $border-width solid $border-color;
    }
    [data-modaltitle] {
      box-shadow: $d-card-shadow;
      border: none;
      &:hover {
        box-shadow: $d-card-hover-shadow;
        cursor: pointer;
      }
    }
    h5 {
      margin: 0;
    }
    p {
      margin: 0;
      color: $gray-600;
    }
    .transportation {
      margin: $spacer * 0.25 0 0 0;
      i {
        padding: 0 $spacer * 0.25;
      }
    }
  }
}
