.tourist-banner {
  @include cover-image;
  height: 60vh;
  background-position: right;
  background-attachment: scroll;
  margin-bottom: $d-spacer-section;
}

@mixin anchor-styling {
  padding: 0;
  margin: 0;
  &::before {
    @include fix-anchor-link;
  }
}

#turin {
  @include anchor-styling;
  .tourist-banner {
    // Background Image is set in the HTML using i18n file
    // background-image: image_url('turin.jpg');
  }
}

#langhe {
  @include anchor-styling;
  .tourist-banner {
    // Background Image is set in the HTML using i18n file
    // background-image: image_url('langhe.jpg');
  }
}

#cavour {
  @include anchor-styling;
  .tourist-banner {
    // Background Image is set in the HTML using i18n file
    // background-image: image_url('cavour.jpg');
  }
}

.tourist-title {
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: $spacer * 1.5 0;
  text-align: center;
  h1 {
    margin: 0;
    color: rgba(255,255,255,0.75);
    text-shadow: $d-text-shadow;
  }
}

.tourist-info {
  margin-bottom: $d-spacer-section;
  .mini-card-deck {
    padding: 0 $spacer * 2;
  }
  .tourist-see, .tourist-eat {
    margin-bottom: $spacer * 2;
    text-align: center;
  }
  .tourist-border {
    padding-bottom: $spacer * 2;
  }
}

@include media-breakpoint-down(sm) {
  .tourist-info {
    .mini-card-deck {
      padding: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .tourist-info {
    .tourist-eat, .tourist-see {
      h6 {
        margin: 0 $spacer * 1.5;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .tourist-info {
    .tourist-eat, .tourist-see {
      h6 {
        margin: 0 $spacer * 3;
      }
    }
    .tourist-border {
      border-right: $border-width solid $border-color;
    }
  }
}
