#honeymoon {
  @include anchor-styling;
  .honeymoon-banner {
    background-image: image-url("polinesia.jpeg");
    @include cover-image;
    height: 60vh;
    background-position: bottom;
    // style="background-image: url('<%= cl_image_path("Polinesia", width: :auto, dpr: :auto, quality: "auto:best", fetch_format: :auto, responsive: :true, responsive_placeholder: "blank") %>')"
  }
}

.honeymoon-title {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: $spacer * 3 0 $spacer * 1.5 0;
  text-align: center;

  h1 {
    margin: 0;
    color: rgba(255,255,255,0.75);
    text-shadow: $d-text-shadow;
  }
}

#bankTransferInfo {
  background-color: $lotr-green;
  // border: $border-width * 2 solid $lotr-green;
  border-radius: $border-radius;
  margin-top: $spacer * 2;
  .bank-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacer;
    margin: $spacer 0;
    &>p {
      margin-bottom: $spacer / 4;
    }
    .input-group {
      width: auto;
      margin-bottom: $spacer;
      .bank-info {
        text-align: left;
        background-color: white;
      }
    }
    h4 {
      margin-bottom: $spacer;
    }
  }
  .bank-border {
    padding-bottom: $spacer * 2;
    .input-group {
      .bank-info {
        text-align: right;
      }
    }
  }

}

.registry-title {
  text-align: center;
  margin: $d-spacer-section 0;
}


// Cards
.registry-deck {
  @include d-basic-grid;
  .registry-card {
    // border-radius: $border-radius;
    font-size: 12px;
    .hide-registry-selected {
      visibility: hidden;
    }
    .registry-selected {
      & > i {
        font-size: 140%;
        position: absolute;
        left: -7px;
        top: -7px;
        right: 0;
        bottom: 0;
        color: $primary;
        &::before {
          padding: 2px;
          // -webkit-text-stroke: 0.5px;
          background-color: white;
          border-radius: 50%;
        }
      }
      &::before {
        border: 2px solid $primary;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: $border-radius;
      }

    }
    img {
      height: 200px;
      padding: 0;
      margin: 0;
      &::before {
        @include fix-anchor-link
      }
    }
    .card-body {
      padding: $spacer;
      position: inherit;
      .value-img-overlay {
        background-color: white;
        position: absolute;
        padding: $spacer / 2 ;
        top: -$spacer * 2;
        right: $spacer;
        margin: 0;
        border-radius: $border-radius;
      }
    }
  }
  .card-footer {
    padding: $spacer / 2 $spacer;
    background-color: $lotr-green;
    border-color: $lotr-green;
  }
}

@include media-breakpoint-up(md) {
  #bankTransferInfo {
    .bank-col {
      align-items: flex-start;
    }
    .bank-border {
      border-right: $border-width solid $border-color;
      padding-bottom: 0;
      align-items: flex-end;
    }
  }
  .registry-deck {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-breakpoint-up(lg) {
  .registry-deck {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
