<div class="container d-footer text-center text-muted mt-5">
  <p class="border-top"></p>
  <p class="my-5"><%= t('.footer_quote_start') %> <i class="fas fa-heart fa-beat"></i> <%= t('.footer_quote_end') %></p>
  <% if I18n.locale == I18n.default_locale %>
    <%= link_to "ITA", url_for( locale: 'it' ) %>
  <% else %>
    <%= link_to "ENG", url_for( locale: nil ) %>
  <%end%>
</div>
