<div class="container d-footer text-center text-muted mt-5">
  <p class="border-top"></p>
  <p class="my-5"><%= t('.footer_quote_start') %> <i class="fas fa-heart fa-beat"></i> <%= t('.footer_quote_end') %></p>
</div>
