<div class="timeline-container">
  <div class="timeline">
    <ul>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc" data-toggle="modal" data-target="#timelineModal" data-modaltitle="Turin Airport">
          <p>Land at:</p>
          <h5>Turin Airport</h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Go to train station:</p>
          <h5>Torino Porta Susa</h5>
          <div class="transportation">
            <i class="fas fa-train"></i>
            <i class="fas fa-bus"></i>
            <i class="fas fa-taxi"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Take a train to:</p>
          <h5>Pinerolo</h5>
          <div class="transportation">
            <i class="fas fa-train"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Arrive to:</p>
          <h5>Hotel Barrage</h5>
          <div class="transportation">
            <i class="fas fa-walking"></i>
            <i class="fas fa-bus"></i>
            <i class="fas fa-taxi"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Check-in:</p>
          <h5>Suit up!</h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Free shuttle to:</p>
          <h5>Tenuta La Morra</h5>
          <div class="transportation">
            <i class="fas fa-shuttle-van"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Drink, eat, celebrate!</p>
          <h5>Enjoy the party</h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="timeline-desc">
          <p>Free shuttle to:</p>
          <h5>Hotel Barrage</h5>
          <div class="transportation">
            <i class="fas fa-shuttle-van"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModal" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleText"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
