<div class="timeline-container">
  <div class="timeline">
    <ul>
      <li>
        <div class="bullet"></div>
        <div class="desc">
          <p>Land at:</p>
          <h5>Torino Caselle Airport</h5>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="desc">
          <h3>Design Stand Up</h3>
          <h4>Hangouts</h4>
          <div class="people">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/ashleyford/128.jpg" alt=""/>
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg" alt=""/>
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/128.jpg" alt=""/>
          </div>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="desc">
          <h3>Lunch Break</h3>
        </div>
      </li>
      <li>
        <div class="bullet"></div>
        <div class="desc">
          <h3>Finish Home Screen</h3>
          <h4>Web App</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
