<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-1 banner-hero m-1">Davide & Gaia</h1>
      </div>
    </div>
    <div class="row">
      <div class="col banner-description">
        <p>“We think we’re quite ready <br> for another adventure!”</p>
        <div class="my-3">
          <%= link_to "RSVP", "#", class: "btn btn-primary" %>
        </div>
        <span data-aos='fade-up' data-aos-easing="ease" data-aos-delay="800">
          <i class="fas fa-chevron-down"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container wedding-info">
  <div class="row ">
    <div class="col wedding-date">
      <p>Come celebrate with us!</p>
      <h1 class="display-1">September 25th, 2020</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 wedding-data">
      <i class="fas fa-calendar-day fa-3x"></i>
      <h6>WEDDING CELEBRATION</h6>
      <p>Ceremony begins at 16:00.<br> Food starts at 18:00!</p>
    </div>
    <div class="col-sm-6 wedding-data">
      <i class="fas fa-map-marked-alt fa-3x "></i>
      <h6>TENUTA LA MORRA</h6>
      <p>Via Villafranca 77, 10061<br> Cavour TO, Italy</p>
    </div>
  </div>
</div>
