<div class="home-banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-1 banner-hero m-1">Davide & Gaia</h1>
      </div>
    </div>
    <div class="row">
      <div class="col banner-description">
        <p>“We think we’re quite ready <br> for another adventure!”</p>
        <div class="my-3">
          <%= link_to "RSVP", "#", class: "btn btn-primary" %>
        </div>
        <span data-aos='fade-up' data-aos-easing="ease" data-aos-delay="800">
          <i class="fas fa-chevron-down"></i>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="">

    </div>

  </div>

</div>

<% 100.times do |x| %>
  <p class="display-1">Ciao</p>
<% end %>
