<div id="turin">
  <div class="container">
    <div class="tourist-title">
      <div class="tourist-hero m-0">
        <h1 class="display-1 ">Torino</h1>
        <p>Lorem ipsum dolor sit amet,
          <br>consectetur adipiscing elit!.</p>
      </div>
    </div>
  </div>
</div>
<div class="container tourist-info">
  <div class="row">
    <div class="col-lg-6 tourist-border">
      <div class="tourist-see text-center">
        <h2>What to see</h2>
        <h6>“All we have to decide is what to do with the time that is given us.”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="tourist-eat text-center">
        <h2>What to eat</h2>
        <h6>“You already had one breakfast. We've had one, yes. What about second breakfast?”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
