<div class="container-fluid" id="turin">
  <div class="tourist-banner">
    <div class="tourist-title">
      <h1 class="display-4">Torino</h1>
      <%= link_to "FIND ON THE MAP", "https://goo.gl/maps/z34rzDvACxb7sXzY6", class: "btn btn-primary", target: :_blank %>
    </div>
  </div>
</div>
<div class="container tourist-info">
  <div class="row">
    <div class="col-lg-6 tourist-border">
      <div class="tourist-see text-center">
        <h2>What to see</h2>
        <h6>“All we have to decide is what to do with the time that is given us.”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="tourist-eat text-center">
        <h2>What to eat</h2>
        <h6>“You already had one breakfast. We've had one, yes. What about second breakfast?”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="langhe">
<div class="tourist-banner">
  <div class="tourist-title">
    <h1 class="display-4">Langhe</h1>
    <%= link_to "FIND ON THE MAP", "https://www.google.com/maps/d/viewer?ie=UTF8&hl=it&oe=UTF8&msa=0&t=m&ll=44.61074002212622%2C8.12370616870112&spn=7.587316%2C14.0625&z=11&source=embed&mid=1vjSeKqhkP1naHkHVU3PW5ul9Hx8", class: "btn btn-primary", target: :_blank %>
  </div>
</div>
</div>
<div class="container tourist-info">
  <div class="row">
    <div class="col-lg-6 tourist-border">
      <div class="tourist-see text-center">
        <h2>What to see</h2>
        <h6>“All we have to decide is what to do with the time that is given us.”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
            <a class="" href="#">Active</a>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="tourist-eat text-center">
        <h2>What to eat</h2>
        <h6>“You already had one breakfast. We've had one, yes. What about second breakfast?”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="cavour">
<div class="tourist-banner">
  <div class="tourist-title">
    <h1 class="display-4">Cavour</h1>
    <%= link_to "FIND ON THE MAP", "https://goo.gl/maps/Vs4fY57SdnMQ3xEY8", class: "btn btn-primary", target: :_blank %>
  </div>
</div>
</div>
<div class="container tourist-info">
  <div class="row">
    <div class="col-lg-6 tourist-border">
      <div class="tourist-see text-center">
        <h2>What to see</h2>
        <h6>“All we have to decide is what to do with the time that is given us.”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="tourist-eat text-center">
        <h2>What to eat</h2>
        <h6>“You already had one breakfast. We've had one, yes. What about second breakfast?”</h6>
      </div>
      <div class="mini-card-deck">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
          <div class="card-product-infos">
            <h6>Product name</h6>
            <p>Product description with only.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
