.home-banner {
  background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), asset-url("banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #eee;
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin-top: -4.5rem; //used to counterbalance body padding-top due to navbar
}

.banner-hero {
  padding-bottom: 30vh;
  text-align: left;
  display: block;
  h1 {
    text-shadow: $d-text-shadow;
  }
}

.banner-description {
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  p, span {
    text-shadow: $d-text-shadow;
  }
}
