.home-banner {
  background-image: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)), asset-url("banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #eee;
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin-top: -4.5rem; //used to counterbalance body padding-top due to navbar
}

.banner-hero {
  padding-bottom: 20vh;
  text-align: left;
  display: block;
  h1 {
    text-shadow: $d-text-shadow;
  }
}

.banner-description {
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  p, i {
    text-shadow: $d-text-shadow;
  }
}

@keyframes chevron-animate {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-50%);
  }
}

.chevron-animate {
  animation: chevron-animate 4s ease infinite;
  color: white;
}
// .chevron-animate {
//   transition-delay: .8s;
//   // opacity: 1;
//   // transform: translateZ(0);
//   transition-timing-function: ease;
//   transition-duration: 1s;
//   transition-property: opacity, transform;
//   transform: translate3d(0,100px,0);
// }
