.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1496602910407-bacda74a0fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  display: flex;
  align-items: flex-end;
  margin-top: -4.5rem; //used to counterbalance body padding-top due to navbar
}

.banner-hero {
  padding-bottom: 30vh;
  text-align: left;
  display: block;
  h1 {
    text-shadow: $d-text-shadow;
  }
}

.banner-description {
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  p, span {
    text-shadow: $d-text-shadow;
  }
}
