@mixin main-card-shadow($color1, $color2, $color3) {
  // Set the shadow color dinamically depending on function set in color.scss
  $general-shadows: card-shadow-color($color1, $color2, $color3);
  $d-card-shadow: nth($general-shadows, 1);
  $d-card-hover-shadow: nth($general-shadows, 2);
  $d-card-active-shadow: nth($general-shadows, 3);
  $d-card-focus-shadow: nth($general-shadows, 4);

  box-shadow: $d-card-shadow;
  transition-property: color, background-color, box-shadow, transform;
  transition-duration: .15s;
  transition-timing-function: ease;
  border: none;
  &:hover {
    box-shadow: $d-card-hover-shadow;
    transform: matrix(1, 0, 0, 1, 0, 0);
    cursor: pointer;
  }
  &:active {
    box-shadow: $d-card-active-shadow;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform: translateY(2px);
    &:after {
      opacity: .15;
    }
  }
  &:focus {
    box-shadow: $d-card-focus-shadow;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: $border-radius;
    background: $color1;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s;
  }
  h5 {
    margin-bottom: $spacer * 0.5;;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  p {
    @include d-p-gray;
  }
}

.d-card-shadow {
  @include main-card-shadow($shadow-hover-black, $shadow-active-black, $shadow-custom-black);
}

.d-card-shadow-primary {
  @include main-card-shadow(rgba($primary, 0.6), rgba($primary, 0.6), rgba($primary, 0.6));

}
