.d-footer {
  margin-top: $d-spacer-section;
  i {
    color: red;
  }
}

.fa-beat {
  animation: fa-beat 5s ease-in-out infinite;
}

@keyframes fa-beat {
  0% {
    transform:scale(1);
  }
  25% {
    transform:scale(1.25);
  }
  50% {
    transform:scale(1);
  }
  75% {
    transform:scale(1.25);
  }
}
