.navbar-davide {
  background-color: $navbar-bg;
  justify-content: space-between;
}

.navbar-davide .navbar-brand img {
  width: 40px;
}

#navbar-mobile {
  display: flex;
}

#navbar-main {
  display: none;
}

@include media-breakpoint-up(md) {

  #navbar-mobile {
    display: none;
  }
  #navbar-main {
    display: flex;
  }
  .navbar-davide {
    justify-content: space-evenly;
  }

  .navbar-brand {
    // margin: 0 auto;
    position: inline-block;
    transform: translateX(-50%);
  }
}

// Hamburger menu styling

.icon-bar {
	width: 24px;
	height: 2px;
	background-color: $primary;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
}

.icon-bar:last-child {
  margin-bottom: 4px;
}

.navbar-toggler {
  // border: 2px solid $gray-600;
  border: none;
  margin-left: 0;
  padding-left: 0;
  background: transparent !important;
}

// Animation for Hamburger dropdown-menu
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
