body {
  padding-top: $d-navbar-spacer; // 66px (4.125rem) height constant Needed for fixed-top bootstrap navabar
}

.navbar-davide {
  background-color: transparent; // Applied only if banner class is present in the page
  transition: 0.5s background-color ease;
  justify-content: space-between;
  .d-logo {
    position: absolute;
    left: 50%;
    top: $d-navbar-spacer / 2;
    transform: translate(-50%, -50%);
  }
  & img {
    width: 40px;
  }
  .navbarSupportedContent {
    flex-grow: 0;
  }
  #navbarDropdown {
    &:focus, &:active {
      outline: none;
    }
  }
  .navbar-user-icon {
  }
  i.fa-user {
    color: $primary;
    border-radius: 50%;
    padding: 4px 5px;
    border: 2px solid $primary;
    &:hover {
      color: $link-hover-color;
      border-color: $link-hover-color;
    }
    &:active, &:focus {
      @include active-focus-link-color;
      border-color: $link-active-focus-color;
    }
  }

}

.navbar-davide-colorize {
  background-color: $navbar-bg;
}

@include media-breakpoint-up(md) {
  .navbar-davide {
    justify-content: space-around;
    .d-logo {
      top: 50%;
    }
  }
}

// Hamburger menu styling
.icon-bar {
	width: 22px;
	height: 2px;
	background-color: $primary;
	display: block;
	transition: all 0.2s;
  // transition: transform .35s ease-in-out;
	margin-top: 4px;
}

.icon-bar:last-child {
  margin-bottom: 4px;
}

.navbar-toggler {
  // border: 2px solid $gray-600;
  border: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}

// Animation for Hamburger dropdown-menu
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
