body {
  padding-top: 4.5rem; // Needed for fixed-top bootstrap navabar
}

.navbar-davide {
  background-color: transparent; // Applied only if banner class is present in the page
  transition: 0.5s background-color ease;
  justify-content: space-between;

  .navbar-brand img {
    width: 40px;
  }

  .navbarSupportedContent {
    flex-grow: 0;
  }
}

.navbar-davide-colorize {
  background-color: $navbar-bg;
}

@include media-breakpoint-up(md) {

  .navbar-davide {
    justify-content: space-evenly;
  }

  .navbar-brand {
    // margin: 0 auto;
    position: inline-block;
    transform: translateX(-50%);
  }
}

// Hamburger menu styling
.icon-bar {
	width: 22px;
	height: 2px;
	background-color: $primary;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
}

.icon-bar:last-child {
  margin-bottom: 4px;
}

.navbar-toggler {
  // border: 2px solid $gray-600;
  border: 0 !important;
  margin-left: 0;
  padding-left: 0;
  background: transparent !important;
}

// Animation for Hamburger dropdown-menu
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
